body 
{display : 
flex; direction;column;
}


main
{display :flex:
flex-direction: row;
 flex; auto;
}


 article
 {flex:2;
 overflow-y: auto;
 background-color: steelblue;
 border: 5px solid rebeccapurple
 font-family:arial, sans-serif; 
 text-align: justify;
 padding: 5px
}


 aside
  { flex:1; 
    overflow-y:  auto; 

 }
 
 .logo
 (width: 50px; 
 height: 50px; )
